// CORES -----------------------------------------------------------------------
$crimson:   #dc143c;
$dark-gray: #272727;
$lime:      #9acd32;
$silver:    #c4c4c4;
$snow:      #f5f5f5;

// TIPOGRAFIA ------------------------------------------------------------------
$sans-serif:  'Arial', sans-serif;
