/** ============================================================================
RESET
============================================================================= */

html, body, main, figure, h1, h2, footer, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
