/** ============================================================================
FUNCTIONS, MIXINS and PLACEHOLDERS
============================================================================= */

/// A função `image()` define uma imagem como background de um elemento
/// @group Functions
/// @parameter { string } image - Nome da imagem
/// @example background-image: image('icon-sucess.svg');
/// @return { string } url('../images/icon-sucess.svg');
/// @author EdnilsonRobert

@function image($image) {
  @return url('#{$PATH_IMG}/#{$image}');
}


/// O mixin `size()` define `width` e `height` de um elemento
/// @group Mixins
/// @parameter { width } w [100%] - Largura do elemento
/// @parameter { height } h [auto] - Altura do elemento
/// @example .box1 { @include size(); } // { width: 100%; height: auto; /* default */ }
/// @example .box2 { @include size(4.8rem, 4.8rem); } // { width: 4.8rem; height: 4.8rem; }
/// @author EdnilsonRobert

@mixin size($w: 100%, $h: auto) {
  width: $w;
  height: $h;
}


/// O mixin `bottom-centered()` define uma posição no eixo Y para posicionamento de um elemento
/// @group Mixins
/// @parameter { distance } y [0] - Distância no eixo Y
/// @example .box1 { @include bottom-centered(); } // { position: absolute; bottom: 0; ... }
/// @example .box2 { @include bottom-centered(2.4rem); } // { position: absolute; bottom: 2.4rem; ... }
/// @author EdnilsonRobert

@mixin bottom-centered($y: 0) {
  position: absolute;
  left: 50%;
  bottom: $y;
  transform: translateX(-50%);
}
