/** ============================================================================
VARIABLES
============================================================================= */

// PATHS
$PATH_IMG: '../images';

// COLOR PALETTE
$black: #002b36;
$red:   #cf4647;
$white: #eef2f6;
